.button {
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 5px;

  font-weight: 600;
  font-size: 0.8rem;
  font-family: sans-serif;
}

.glow {
  animation: glowGrey 1s infinite alternate;
}

@keyframes glowGrey {
  from {
    box-shadow: 0 0 6px -6px var(--lightGrey);
  }
  to {
    box-shadow: 0 0 6px 6px var(--lightGrey);
  }
}

.blue {
  background-color: var(--primary);
  color: white;
}

.black {
  background-color: var(--black);
  color: white;
}

.button:hover {
  opacity: 0.75;
}
