.summaryInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.titleContainer {
  position: relative;
  width: 375px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0px;
}

.transactions {
  margin-top: 35px;
  border-radius: 5px;
  overflow: hidden;
}

.columnsDivider {
  display: grid;
  padding-left: 15px;
  padding-right: 10px;
  width: 750px;
  grid-template-columns: 10% 45% 15% 10% 20%;

  background-color: var(--faded);
}

.columnsDivider p {
  font-size: 0.9rem;
  font-weight: bold;
}
